Robot_ARM_Node-Red.json
[
    {
        "id": "d0ab4947659988e6",
        "type": "tab",
        "label": "Robot Arm",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "615e0f50162c5ec1",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "100%",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "100",
        "payloadType": "num",
        "x": 170,
        "y": 40,
        "wires": [
            [
                "5824b7797791d14e"
            ]
        ]
    },
    {
        "id": "c14d5476d175976f",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "50%",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "50",
        "payloadType": "num",
        "x": 170,
        "y": 80,
        "wires": [
            [
                "5824b7797791d14e"
            ]
        ]
    },
    {
        "id": "52e91d441e50b4c4",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "Off",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "5824b7797791d14e"
            ]
        ]
    },
    {
        "id": "5824b7797791d14e",
        "type": "PCA9685 out",
        "z": "d0ab4947659988e6",
        "name": "PWM Output 24(Led)",
        "pca9685": "4cdb83c164643ff9",
        "channel": "4",
        "payload": "",
        "unit": "percent",
        "onStep": "0",
        "x": 435,
        "y": 80,
        "wires": []
    },
    {
        "id": "50be816bd3696fff",
        "type": "PCA9685 out",
        "z": "d0ab4947659988e6",
        "name": "PWM Output 3 (Servo 3)",
        "pca9685": "4cdb83c164643ff9",
        "channel": "3",
        "payload": "msg.payload",
        "unit": "steps",
        "onStep": "0",
        "x": 1150,
        "y": 260,
        "wires": []
    },
    {
        "id": "7c7b567c38e06222",
        "type": "PCA9685 out",
        "z": "d0ab4947659988e6",
        "name": "PWM Output 1(Servo 1)",
        "pca9685": "4cdb83c164643ff9",
        "channel": "1",
        "payload": "msg.payload",
        "unit": "steps",
        "onStep": "0",
        "x": 610,
        "y": 600,
        "wires": []
    },
    {
        "id": "6c4ba5db1c25ed7d",
        "type": "PCA9685 out",
        "z": "d0ab4947659988e6",
        "name": "PWM Output 4 (Servo 4)",
        "pca9685": "4cdb83c164643ff9",
        "channel": "0",
        "payload": "msg.payload",
        "unit": "steps",
        "onStep": "0",
        "x": 1150,
        "y": 620,
        "wires": []
    },
    {
        "id": "0c4dec06bce4d2b1",
        "type": "PCA9685 out",
        "z": "d0ab4947659988e6",
        "name": "PWM Output 0 (Servo 0)",
        "pca9685": "4cdb83c164643ff9",
        "channel": "0",
        "payload": "msg.payload",
        "unit": "steps",
        "onStep": "0",
        "x": 590,
        "y": 280,
        "wires": []
    },
    {
        "id": "18b226eea50ea159",
        "type": "PCA9685 out",
        "z": "d0ab4947659988e6",
        "name": "PWM Output 5 (Servo 5",
        "pca9685": "6ce45bce.cdff94",
        "channel": "5",
        "payload": "msg.payload",
        "unit": "steps",
        "onStep": "0",
        "x": 1150,
        "y": 980,
        "wires": []
    },
    {
        "id": "8a8c85da31e9d792",
        "type": "PCA9685 out",
        "z": "d0ab4947659988e6",
        "name": "PWM Output 2 (Servo 2)",
        "pca9685": "6ce45bce.cdff94",
        "channel": "2",
        "payload": "msg.payload",
        "unit": "steps",
        "onStep": "0",
        "x": 470,
        "y": 980,
        "wires": []
    },
    {
        "id": "b55f1c46cecdf780",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "280",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "280",
        "payloadType": "num",
        "x": 1430,
        "y": 600,
        "wires": [
            [
                "3cee640c846ce14f"
            ]
        ]
    },
    {
        "id": "bbab2bd2c96c3dd9",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "100º",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "100",
        "payloadType": "num",
        "x": 1430,
        "y": 840,
        "wires": [
            [
                "3cee640c846ce14f"
            ]
        ]
    },
    {
        "id": "5480e39beb052293",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "180",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "180",
        "payloadType": "num",
        "x": 1430,
        "y": 720,
        "wires": [
            [
                "3cee640c846ce14f"
            ]
        ]
    },
    {
        "id": "90f0a1628a77d37e",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "Off",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "360",
        "payloadType": "num",
        "x": 1430,
        "y": 900,
        "wires": [
            [
                "3cee640c846ce14f"
            ]
        ]
    },
    {
        "id": "3cee640c846ce14f",
        "type": "PCA9685 out",
        "z": "d0ab4947659988e6",
        "name": "PWM Output 8 (Servo 8",
        "pca9685": "4cdb83c164643ff9",
        "channel": "8",
        "payload": "msg.payload",
        "unit": "steps",
        "onStep": "0",
        "x": 2030,
        "y": 700,
        "wires": []
    },
    {
        "id": "58b85604c6f3dad6",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "310",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "310",
        "payloadType": "num",
        "x": 1430,
        "y": 560,
        "wires": [
            [
                "3cee640c846ce14f"
            ]
        ]
    },
    {
        "id": "88407d596446a63f",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "210",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "210",
        "payloadType": "num",
        "x": 1430,
        "y": 680,
        "wires": [
            [
                "3cee640c846ce14f"
            ]
        ]
    },
    {
        "id": "277fd38e4704ef6f",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "250",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "250",
        "payloadType": "num",
        "x": 1430,
        "y": 640,
        "wires": [
            [
                "3cee640c846ce14f"
            ]
        ]
    },
    {
        "id": "8cbe59e39f857a35",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "130º",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "130",
        "payloadType": "num",
        "x": 1430,
        "y": 800,
        "wires": [
            [
                "3cee640c846ce14f"
            ]
        ]
    },
    {
        "id": "5b69f93bb975a275",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "150",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "150",
        "payloadType": "num",
        "x": 1430,
        "y": 760,
        "wires": [
            [
                "3cee640c846ce14f"
            ]
        ]
    },
    {
        "id": "1e156335dfbfd651",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "Grab PWR 3",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "350",
        "payloadType": "num",
        "x": 190,
        "y": 220,
        "wires": [
            [
                "0c4dec06bce4d2b1"
            ]
        ]
    },
    {
        "id": "c6f329363cfbd927",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "Grab PWR 1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "330",
        "payloadType": "num",
        "x": 190,
        "y": 300,
        "wires": [
            [
                "0c4dec06bce4d2b1"
            ]
        ]
    },
    {
        "id": "48bbe26ab78b3753",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "Relax",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "310",
        "payloadType": "num",
        "x": 170,
        "y": 340,
        "wires": [
            [
                "0c4dec06bce4d2b1"
            ]
        ]
    },
    {
        "id": "ee77756c284b9ad0",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "Grab PWR 2",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "340",
        "payloadType": "num",
        "x": 190,
        "y": 260,
        "wires": [
            [
                "0c4dec06bce4d2b1"
            ]
        ]
    },
    {
        "id": "945e873a26bbeabc",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "Grab MAX PWR 1A",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "360",
        "payloadType": "num",
        "x": 210,
        "y": 180,
        "wires": [
            [
                "0c4dec06bce4d2b1"
            ]
        ]
    },
    {
        "id": "7854246d3faab947",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "Max PWR Open",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "150",
        "payloadType": "num",
        "x": 200,
        "y": 380,
        "wires": [
            [
                "0c4dec06bce4d2b1"
            ]
        ]
    },
    {
        "id": "c3675835cec158dd",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "0",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 170,
        "y": 740,
        "wires": [
            [
                "7c7b567c38e06222"
            ]
        ]
    },
    {
        "id": "c07bfe5dd1d8588f",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "Rotate CounterClockwise",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "250",
        "payloadType": "num",
        "x": 230,
        "y": 500,
        "wires": [
            [
                "7c7b567c38e06222"
            ]
        ]
    },
    {
        "id": "088a3735a8c0f78a",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "Fast CC",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "399",
        "payloadType": "num",
        "x": 180,
        "y": 540,
        "wires": [
            [
                "7c7b567c38e06222"
            ]
        ]
    },
    {
        "id": "b3924e838640e5c0",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "Rotate Clockwise",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "360",
        "payloadType": "num",
        "x": 200,
        "y": 600,
        "wires": [
            [
                "7c7b567c38e06222"
            ]
        ]
    },
    {
        "id": "9036a46410391442",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "stop",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "30",
        "payloadType": "num",
        "x": 170,
        "y": 700,
        "wires": [
            [
                "7c7b567c38e06222"
            ]
        ]
    },
    {
        "id": "8efe7925bb717ccd",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "180",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "180",
        "payloadType": "num",
        "x": 170,
        "y": 640,
        "wires": [
            [
                "7c7b567c38e06222"
            ]
        ]
    },
    {
        "id": "c302c9f2cb5b10b1",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "280",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "280",
        "payloadType": "num",
        "x": 850,
        "y": 160,
        "wires": [
            [
                "50be816bd3696fff"
            ]
        ]
    },
    {
        "id": "790a417dae790298",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "100º",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "100",
        "payloadType": "num",
        "x": 850,
        "y": 400,
        "wires": [
            [
                "50be816bd3696fff"
            ]
        ]
    },
    {
        "id": "7449852ef44b1a89",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "180",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "180",
        "payloadType": "num",
        "x": 850,
        "y": 280,
        "wires": [
            [
                "50be816bd3696fff"
            ]
        ]
    },
    {
        "id": "03d0b5b51da3a432",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "310",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "310",
        "payloadType": "num",
        "x": 850,
        "y": 120,
        "wires": [
            [
                "50be816bd3696fff"
            ]
        ]
    },
    {
        "id": "bdd77092ccbc2314",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "210",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "210",
        "payloadType": "num",
        "x": 850,
        "y": 240,
        "wires": [
            [
                "50be816bd3696fff"
            ]
        ]
    },
    {
        "id": "95e453016cac8883",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "250",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "250",
        "payloadType": "num",
        "x": 850,
        "y": 200,
        "wires": [
            [
                "50be816bd3696fff"
            ]
        ]
    },
    {
        "id": "88b6a8a30a8adb23",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "130º",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "130",
        "payloadType": "num",
        "x": 850,
        "y": 360,
        "wires": [
            [
                "50be816bd3696fff"
            ]
        ]
    },
    {
        "id": "a3363de90ef25f8c",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "150",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "150",
        "payloadType": "num",
        "x": 850,
        "y": 320,
        "wires": [
            [
                "50be816bd3696fff"
            ]
        ]
    },
    {
        "id": "9edf9657c443863e",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "280",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "280",
        "payloadType": "num",
        "x": 850,
        "y": 520,
        "wires": [
            [
                "6c4ba5db1c25ed7d"
            ]
        ]
    },
    {
        "id": "e573d783a2cc9d2b",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "100º",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "100",
        "payloadType": "num",
        "x": 850,
        "y": 760,
        "wires": [
            [
                "6c4ba5db1c25ed7d"
            ]
        ]
    },
    {
        "id": "f4a02245c65ad6cd",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "180",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "180",
        "payloadType": "num",
        "x": 850,
        "y": 640,
        "wires": [
            [
                "6c4ba5db1c25ed7d"
            ]
        ]
    },
    {
        "id": "9c7453043c4afb85",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "310",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "310",
        "payloadType": "num",
        "x": 850,
        "y": 480,
        "wires": [
            [
                "6c4ba5db1c25ed7d"
            ]
        ]
    },
    {
        "id": "16a9df03de9f990b",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "210",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "210",
        "payloadType": "num",
        "x": 850,
        "y": 600,
        "wires": [
            [
                "6c4ba5db1c25ed7d"
            ]
        ]
    },
    {
        "id": "d382a23a0ae85d68",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "250",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "250",
        "payloadType": "num",
        "x": 850,
        "y": 560,
        "wires": [
            [
                "6c4ba5db1c25ed7d"
            ]
        ]
    },
    {
        "id": "3c9e171f80383952",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "130º",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "130",
        "payloadType": "num",
        "x": 850,
        "y": 720,
        "wires": [
            [
                "6c4ba5db1c25ed7d"
            ]
        ]
    },
    {
        "id": "d57bf752b544a6f6",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "150",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "150",
        "payloadType": "num",
        "x": 850,
        "y": 680,
        "wires": [
            [
                "6c4ba5db1c25ed7d"
            ]
        ]
    },
    {
        "id": "67b6f2d6b846e82d",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "280",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "280",
        "payloadType": "num",
        "x": 850,
        "y": 880,
        "wires": [
            [
                "18b226eea50ea159"
            ]
        ]
    },
    {
        "id": "a9b88b00eb8467cc",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "100º",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "100",
        "payloadType": "num",
        "x": 850,
        "y": 1120,
        "wires": [
            [
                "18b226eea50ea159"
            ]
        ]
    },
    {
        "id": "bfda3a08686e8f68",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "180",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "180",
        "payloadType": "num",
        "x": 850,
        "y": 1000,
        "wires": [
            [
                "18b226eea50ea159"
            ]
        ]
    },
    {
        "id": "c17c58d7c27da0e4",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "310",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "310",
        "payloadType": "num",
        "x": 850,
        "y": 840,
        "wires": [
            [
                "18b226eea50ea159"
            ]
        ]
    },
    {
        "id": "b88cf44cecb1ef7e",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "210",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "210",
        "payloadType": "num",
        "x": 850,
        "y": 960,
        "wires": [
            [
                "18b226eea50ea159"
            ]
        ]
    },
    {
        "id": "f9b62a3b7369aa97",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "250",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "250",
        "payloadType": "num",
        "x": 850,
        "y": 920,
        "wires": [
            [
                "18b226eea50ea159"
            ]
        ]
    },
    {
        "id": "66079f3247843cba",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "130º",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "130",
        "payloadType": "num",
        "x": 850,
        "y": 1080,
        "wires": [
            [
                "18b226eea50ea159"
            ]
        ]
    },
    {
        "id": "d1fe2e39caea7080",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "150",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "150",
        "payloadType": "num",
        "x": 850,
        "y": 1040,
        "wires": [
            [
                "18b226eea50ea159"
            ]
        ]
    },
    {
        "id": "aab21cfd7433c87f",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "280",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "280",
        "payloadType": "num",
        "x": 170,
        "y": 880,
        "wires": [
            [
                "8a8c85da31e9d792"
            ]
        ]
    },
    {
        "id": "b2b7a336f17159ea",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "100º",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "100",
        "payloadType": "num",
        "x": 170,
        "y": 1120,
        "wires": [
            [
                "8a8c85da31e9d792"
            ]
        ]
    },
    {
        "id": "56e8b37d93c2bde4",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "180",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "180",
        "payloadType": "num",
        "x": 170,
        "y": 1000,
        "wires": [
            [
                "8a8c85da31e9d792"
            ]
        ]
    },
    {
        "id": "a1f436d508e09015",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "310",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "310",
        "payloadType": "num",
        "x": 170,
        "y": 840,
        "wires": [
            [
                "8a8c85da31e9d792"
            ]
        ]
    },
    {
        "id": "dbc78002888215b5",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "210",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "210",
        "payloadType": "num",
        "x": 170,
        "y": 960,
        "wires": [
            [
                "8a8c85da31e9d792"
            ]
        ]
    },
    {
        "id": "2d3cf7e3027b8df5",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "250",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "250",
        "payloadType": "num",
        "x": 170,
        "y": 920,
        "wires": [
            [
                "8a8c85da31e9d792"
            ]
        ]
    },
    {
        "id": "58cf32d56d49d875",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "130º",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "130",
        "payloadType": "num",
        "x": 170,
        "y": 1080,
        "wires": [
            [
                "8a8c85da31e9d792"
            ]
        ]
    },
    {
        "id": "c3e699abef0e5505",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "150",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "150",
        "payloadType": "num",
        "x": 170,
        "y": 1040,
        "wires": [
            [
                "8a8c85da31e9d792"
            ]
        ]
    },
    {
        "id": "87c53cbc6e66dffb",
        "type": "inject",
        "z": "d0ab4947659988e6",
        "name": "0",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 170,
        "y": 1160,
        "wires": [
            [
                "8a8c85da31e9d792"
            ]
        ]
    },
    {
        "id": "4cdb83c164643ff9",
        "type": "PCA9685",
        "deviceNumber": "1",
        "address": "64",
        "frequency": "50"
    },
    {
        "id": "6ce45bce.cdff94",
        "type": "PCA9685",
        "deviceNumber": "1",
        "address": "112",
        "frequency": "50"
    }
]